body{
    padding: 0;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

a:link{
    text-decoration: none!important;
    color:black;
}

header{
    background-color: white;
    font-family: 'Europa', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    translate: -4rem;

}

header li{
    display: inline;
    padding-left: 120px;
}

header li a{
    color: #460707;
    text-decoration: none;
    padding: 13px;
}

header li a:hover{
    color: #8b0e35
}

header li img{
    width: 153px;
    height: 153px;
}

footer{
    text-align: center;
    translate: -2.2rem;

}

footer li {
    display: inline;
    padding-left: 40px;
}

footer img{
    width: 40px;
    height: 40px;
}
.slider-frame{
    overflow: hidden;
    position: relative;
    height:800px;
    width: 1200x;
    margin-left: 360px;
    margin-top: 20px;
}

h3{
    margin-top: 50px;
    margin-left: 510px;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    translate: -9rem;
    color: black;

}

.biography{
    font-family: 'Europa,' sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0em;
    text-rendering: optimizeLegibility;
    position:relative
}

.pill {
    background: white;
    font-size: 25px;
    font-family: 'Europa', sans-serif;
    padding: 8px 14px;
    margin: 10px;
    border-radius: 300px;
    border-width: 2px;
    border: 2px solid black;
    outline: 1px black;
    cursor: pointer;
    translate: 40.25rem;
  }
  
  .pill:not(.pill--selected):hover {
    transition: 0.1s;
    background: black;
    color: white;
  }

/*---------- SLIDE ANIMATION --------------*/

@keyframes slide_animation{
    0%{left: 0px;}
   10%{left: 0px;}
   20%{left: 1200px;}
   30%{left: 1200px;}
   40%{left: 2400px;}
   50%{left: 2400px;}
   60%{left: 1200px;}
   70%{left: 1200px;}
   80%{left: 0px;}
   90%{left: 0px;}
   100%{left: 0px;}
}

.slide-images{
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  animation-name: slide_animation;
  animation-duration: 33s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
    bottom: -5rem;
    translate: -9rem;
    overflow: hidden;
}

